<div class="col-lg-3 col-md-4 col-sm-6 emerge">
    <div class="tile">

        <div class="price-label">{{price}} <span class="fa fa-rouble"></span></div>

        {{^available}}
            <div class="badges">
                <span class="out">Отсутствует</span>
            </div>
        {{/available}}



        <a href="{{url}}" class="image-container">
            <span class="image-verticalator"></span>
            <img src="http://luxy.sexy{{image.path}}" alt="{{image.alt}}" title="{{image.alt}}"/>
        </a>
        <div class="footer">
            <a href="{{url}}">{{title}}</a>
            <span>{{shortDesc}}</span>
            <div class="tools">

                <div class="rate">
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                </div>

                <!--Add To Cart Button-->
                <a class="add-cart-btn" href="#" data-id="{{_id}}" data-alias="{{alias}}"><span>В корзину</span><i class="icon-shopping-cart"></i></a>
                <!--Share Button-->
                <div class="share-btn">
                    <div class="hover-state">
                        <a class="fa fa-vk" href="http://vk.com/share.php?url={{root}}{{url}}" target="_blank"></a>
                        <a class="fa fa-facebook-square" href="http://www.facebook.com/sharer/sharer.php?u={{root}}{{url}}" target="_blank"></a>
                        <a class="fa fa-twitter-square" href="http://twitter.com/share?text={{title}}&url={{root}}{{url}}&hashtags=luxysexy" target="_blank"></a>
                    </div>
                    <i class="fa fa-share"></i>
                </div>

                <!--Add To Wishlist Button-->
                <a class="wishlist-btn" href="#" onclick="cart.oneClick(event)" data-alias="{{alias}}">
                    <div class="hover-state">Купить</div>
                    <i class="fa fa-send-o"></i>
                </a>
            </div>
        </div>
    </div>
</div>