{{{breadcrumbs}}}

<!--Checkout-->
<section class="checkout">
<div class="container">

<!--Checkout Form-->
<div class="row">
    <form id="checkout-form" method="post" action="/order">
        {{#each products}}
            <input type="hidden" name="products[{{alias}}]" value="{{count}}"/>
        {{/each}}
        <!--Left Column-->
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h3>Оформление заказа</h3>

            <div class="row">
                <div class="form-group col-lg-6 col-md-6 col-sm-6">
                    <label for="contact">Номер мобильного телефона</label>
                    <input type="text" class="form-control" id="contact" name="contact" value="" placeholder="912 345 67 89" required autocomplete="off"/>
                </div>

                <div class="form-group col-lg-6 col-md-6 col-sm-6 has-feedback has-success hide contact-group">
                    <label for="skype">Skype</label>
                    <input type="text" class="form-control" id="skype" name="skype" readonly autocomplete="off"/>
                    <i class="fa fa-skype form-control-feedback"></i>
                </div>

                <div class="form-group col-lg-6 col-md-6 col-sm-6 has-feedback has-success hide contact-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" readonly autocomplete="off"/>
                    <i class="fa fa-envelope form-control-feedback"></i>
                </div>

                <div class="form-group col-lg-6 col-md-6 col-sm-6 has-feedback has-success hide contact-group">
                    <label for="phone">Телефон</label>
                    <input type="text" class="form-control" id="phone" name="phone" readonly autocomplete="off"/>
                    <i class="fa fa-phone form-control-feedback"></i>
                </div>
            </div>

            <div class="form-group">
                <label for="fullname">Ф.И.О.</label>
                <input type="text" class="form-control" id="fullname" name="fullname" value="" placeholder="Получатель посылки" required/>
            </div>

            <div class="row fullname-group hide">
                <div class="form-group col-lg-4 col-md-4 col-sm-4 has-feedback">
                    <label for="name">Имя</label>
                    <input type="text" class="form-control" id="name" name="name[name]" value="" placeholder="" readonly/>
                    <i class="fa fa-times form-control-feedback hide"></i>
                    <i class="fa fa-check form-control-feedback hide"></i>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-4 has-feedback">
                    <label for="name">Фамилия</label>
                    <input type="text" class="form-control" id="surname" name="name[surname]" value="" placeholder="" readonly/>
                    <i class="fa fa-times form-control-feedback hide"></i>
                    <i class="fa fa-check form-control-feedback hide"></i>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-4 has-feedback">
                    <label for="name">Отчество</label>
                    <input type="text" class="form-control" id="patronymic" name="name[patronymic]" value="" placeholder="" readonly/>
                    <i class="fa fa-times form-control-feedback hide"></i>
                    <i class="fa fa-check form-control-feedback hide"></i>
                </div>
            </div>


            <div class="form-group">
                <label for="fulladdress">Полный адрес доставки</label>
                <input type="text" class="form-control" id="fulladdress" value="" name="fulladdress" placeholder="Адрес получателя" required>
            </div>

            <div class="fulladdress-group hide">
                <div class="row">
                    <div class="form-group col-lg-4 col-md-4 col-sm-4 has-feedback">
                        <label for="postal_code">Индекс</label>
                        <input type="text" class="form-control" id="postal_code" name="address[code]" value="" placeholder="" readonly/>
                        <i class="fa fa-times form-control-feedback hide"></i>
                        <i class="fa fa-check form-control-feedback hide"></i>
                    </div>

                    <div class="form-group col-lg-8 col-md-8 col-sm-8 has-feedback">
                        <label for="region">Регион</label>
                        <input type="text" class="form-control" id="region" name="address[region]" value="" placeholder="" readonly/>
                        <i class="fa fa-times form-control-feedback hide"></i>
                        <i class="fa fa-check form-control-feedback hide"></i>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 has-feedback">
                        <label for="city">Город (нас. пункт)</label>
                        <input type="text" class="form-control" id="city" name="address[city]" value="" placeholder="" readonly/>
                        <i class="fa fa-times form-control-feedback hide"></i>
                        <i class="fa fa-check form-control-feedback hide"></i>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-sm-6 has-feedback">
                        <label for="street">Улица</label>
                        <input type="text" class="form-control" id="street" name="address[street]" value="" placeholder="" readonly/>
                        <i class="fa fa-times form-control-feedback hide"></i>
                        <i class="fa fa-check form-control-feedback hide"></i>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-4 col-md-4 col-sm-4 has-feedback">
                        <label for="house">Дом/строение</label>
                        <input type="text" class="form-control" id="house" name="address[house]" value="" placeholder="" readonly/>
                        <i class="fa fa-times form-control-feedback hide"></i>
                        <i class="fa fa-check form-control-feedback hide"></i>
                    </div>

                    <div class="form-group col-lg-4 col-md-4 col-sm-4 has-feedback">
                        <label for="block">Корпус</label>
                        <input type="text" class="form-control" id="block" name="address[block]" value="" placeholder="" readonly/>
                        <i class="fa fa-exclamation-triangle form-control-feedback hide"></i>
                        <i class="fa fa-check form-control-feedback hide"></i>
                    </div>

                    <div class="form-group col-lg-4 col-md-4 col-sm-4 has-feedback">
                        <label for="flat">Квартира</label>
                        <input type="text" class="form-control" id="flat" name="address[flat]" value="" placeholder="" readonly/>
                        <i class="fa fa-exclamation-triangle form-control-feedback hide"></i>
                        <i class="fa fa-check form-control-feedback hide"></i>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="payment-method">
                    <label for="delivery"><h3>Способ доставки</h3></label>
                    <div class="radio light">
                        <label><input type="radio" name="delivery" id="delivery01" checked value="2"> Почта России</label>
                    </div>
                    <p>
                        Ваш заказ будет отправлен почтой России, получить его вы сможете в вашем почтовом отделении.
                        <br/><b>Доставка Почтой России осуществляется только по предоплате.</b>
                        <br/>Сроки доставки зависят от удаленности населенного пункта
                    </p>
                    <div class="radio light">
                        <label><input type="radio" name="delivery" id="delivery02" value="1"> Постаматы "Пикпоинт"</label>
                    </div>

                    <p>
                        Ваш заказ будет доставлен в выбранный вами почтовый терминал, откуда вы сможете забрать его в любое удобное для вас время.
                        Простая инструкция по получению заказа:
                    </p>
                    <ol>
                        <li>Выбираете ближайший к вам почтовый терминал.</li>
                        <li>В момент доставки заказа в терминал вам приходит SMS с кодом получения заказа.</li>
                        <li>В удобное время приходите к выбранному терминалу и вводите код, присланный в SMS-сообщении.</li>
                        <li>Если вы выбрали оплату при получении, то оплачиваете заказ наличными или картой непосредственно у терминала.</li>
                        <li>Забираете свой заказ.</li>
                    </ol>
                    <p>
                        Советуем так же посмотреть <a href="http://pickpoint.ru/postamats/" target="_blank" style="color:white;text-decoration: underline;">карту постаматов</a>,
                        чтобы убедиться в наличии постамата в вашем городе.
                    </p>
                    <div class="radio light">
                        <label><input type="radio" name="delivery" id="delivery03" value="0"> Курьером</label>
                    </div>
                    <p>
                        Курьер доставит ваш заказ прямо к вашему порогу.
                        <b>Доставка осуществляется по Москве и ближайшему Подмосковью с 10-00 до 22-00 через день после подтверждения заказа.</b>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <div class="payment-method">
                    <label for="payment"><h3>Способ оплаты</h3></label>
                    <div class="radio light">
                        <label><input type="radio" name="payment" id="payment01" checked value="0"> Оплатить сейчас через "Робокассу"</label>
                    </div>
                    <p>
                        Без дополнительных платежей и комиссий.
                    </p>
                    <div class="radio light">
                        <label><input type="radio" name="payment" id="payment02" value="1"> Оплатить при получении</label>
                    </div>
                    <p>
                        Оплата наложенным платежом не поддерживается при доставке Почтой России
                    </p>
                </div>
            </div>


            <h3>Комментарий к заказу</h3>
            <div class="form-group">
                <label class="sr-only" for="comment">Комментарий к заказу</label>
                <textarea class="form-control" name="comment" id="comment" rows="4" placeholder="Оставьте комментарий для менеджера"></textarea>
            </div>

            <div class="form-group">
                <input class="btn btn-success btn-block" type="submit" name="place-order" value="Заказать">
            </div>
        </div>

        <!--Right Column-->
        <div class="col-lg-3 col-lg-offset-1 col-md-4 col-sm-4">
            <h3>Ваш заказ</h3>
            <table>
                <tr><th>Товары</th></tr>
                {{#each products}}
                    <tr>
                        <td class="name border">{{title}}<span>x{{count}}</span></td>
                        <td class="price border">{{total}}&nbsp;<i class="fa fa-rouble"></i></td>
                    </tr>
                {{/each}}

                <tr>
                    <td class="th">Итого</td>
                    <td class="price">{{total}} <i class="fa fa-rouble"></i></td>
                </tr>
                <tr>
                    <td class="th border">Доставка</td>
                    <td class="align-r border">{{#if delivery}}{{delivery}} <span class="fa fa-rouble"></span>{{else}}Бесплатно{{/if}}</td>
                </tr>
                <tr>
                    <td class="th">Общий счет</td>
                    <td class="price">{{orderTotal}} <span class="fa fa-rouble"></span></td>
                </tr>
            </table>
            {{!
            <div class="payment-method">
                <div class="radio light">
                    <label><input type="radio" name="payment" id="payment01" checked> Direct Bank Transfer</label>
                </div>
                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.</p>
                <div class="radio light">
                    <label><input type="radio" name="payment" id="payment02"> Cheque Payment</label>
                </div>
                <div class="radio light">
                    <label><input type="radio" name="payment" id="payment03"> PayPal <span class="pp-label"></span></label>
                </div>
            </div>
            }}
            <input class="btn btn-success btn-block" type="submit" name="place-order" value="Заказать">
        </div>
    </form>
</div>
</div>
</section><!--Checkout Close-->



<script type="text/javascript" src="https://dadata.ru/static/js/jquery.suggestions-4.6.min.js"></script>
<script type="text/javascript">


var toggleError = function($el,hasError){
    if(typeof hasError == "undefined"){
        hasError = false;
    }

    var errorClass = ($el.attr('id') == 'flat' || $el.attr('id') == 'block') ? 'has-warning' : 'has-error',
            timesClass = ($el.attr('id') == 'flat' || $el.attr('id') == 'block') ? 'fa-exclamation-triangle' : 'fa-times';

    if(hasError){
        $el.closest('.form-group').
                removeClass('has-success').
                addClass(errorClass).
                find('.fa-check').addClass('hide').
                parent().find('.'+timesClass).removeClass('hide');
    }else{
        $el.closest('.form-group').
                removeClass(errorClass).
                addClass('has-success').
                find('.'+timesClass).addClass('hide').
                parent().find('.fa-check').removeClass('hide');
    }
}

$("#fulladdress").suggestions({
    serviceUrl: "https://dadata.ru/api/v2",
    token: "4e8f740f9a2e275a91e5a904e64729e935b3fad0",
    type: "ADDRESS",
    hint:'Выберите предложенный вариант:',
    deferRequestBy: 300,
    onSelect: function(suggestion) {
        $(".fulladdress-group").find('input').val('');
        var data = suggestion.data,
                fields = ['postal_code','region','city','street','house','block','flat'],
                aliases = {
                    city:'settlement'
                },
                prefixes = {
                    street:'street_type',
                    settlement:'settlement_type',
                    city:'city_type'
                },
                postfixes = {
                    region:'region_type_full'
                };

        $(fields).each(function(i,field){

            var value = data[field] || data[aliases[field]],
                    naturalField = (!data[field] && data[aliases[field]]) ? aliases[field] : field,
                    prefix = (prefixes[naturalField]) ? (data[prefixes[naturalField]] + '. ') : '',
                    postfix = (postfixes[naturalField]) ? (' ' + data[postfixes[naturalField]]) : '';

            if(!value && field == 'city' && data.region){
                value =  data.region;
                prefix = data.region_type + '. ';
                postfix = '';
            }

            if(value){
                $('#' + field).val(prefix + value + postfix);
                toggleError($('#' + field),false);
            }else{
                toggleError($('#' + field),true);
            }
        });

        if(!$(".fulladdress-group .has-error").size()){
            $("#fulladdress").parent().hide(300);
        }
    },
    onSelectNothing:function(value){
        $("#fulladdress").addClass('error').focus();
    }
}).keydown(function(){
    if($(".fulladdress-group").is(':hidden')){
        $(".fulladdress-group").hide().removeClass('hide').show(300);
    }
});

$(".fulladdress-group").click(function(){
    if($("#fulladdress").parent().is(':hidden')){
        $("#fulladdress").parent().show(300).find('input').focus();
    }
});


$(".fullname-group").click(function(){
    if($("#fullname").parent().is(':hidden')){
        $("#fullname").parent().show(300).find('input').focus();
    }
});


$("#fullname").suggestions({
    serviceUrl: "https://dadata.ru/api/v2",
    token: "4e8f740f9a2e275a91e5a904e64729e935b3fad0",
    type: "NAME",
    hint:'Выберите предложенный вариант:',
    deferRequestBy: 300,
    /* Вызывается, когда пользователь выбирает одну из подсказок */
    onSelect: function(suggestion) {
        var data = suggestion.data,
                fields = ['name','surname','patronymic'];

        $(fields).each(function(i,field){
            if(data[field]){
                $('#' + field).val(data[field]);
                toggleError($('#' + field),false);
            }else{
                toggleError($('#' + field),true);
            }
        });

        if(!$(".fullname-group .has-error").size()){
            $("#fullname").parent().hide(300);
        }
    },
    onSelectNothing:function(value){
        var data = value.split(' '),
                fields = ['name','surname','patronymic'];

        $(fields).each(function(i,field){
            $('#' + field).val('');
            toggleError($('#' + field),true);
        });

        $(data).each(function(i,value){
            $('#' + fields[i]).val(value);
            toggleError($('#' + fields[i]),false);
        });

        if(!$(".fullname-group .has-error").size()){
            $("#fullname").parent().hide(300);
        }
    }
}).keydown(function(){
    if($(".fullname-group").is(':hidden')){
        $(".fullname-group").hide().removeClass('hide').show(300);
    }
});


$("#checkout-form").submit(function(){
    if($(this).find('.has-error').size()){
        return false;
    }

    if(!$("#phone").val() || $("#phone").is(":hidden")){
        $("#contact").val('').focus();
        return false;
    }

    var data = $("#checkout-form").serializeArray();
    var delivery, payment;

    for( var i in data) {
        if (data[i].name == "delivery"){
            delivery = data[i].value * 1;
        }

        if (data[i].name == "payment"){
            payment = data[i].value * 1;
        }
    }
    console.log(delivery, payment);
    if (delivery == 2){
        if (payment){
            var $modal = $("#cityModal").clone();
            $modal.attr("id", "checkoutModal");
            $modal.find(".modal-header h2").html("Ошибка при выборе способа доставки!");
            $modal.find(".modal-header p").html("");

            var messages = [
                "<p>К сожалению, LUXYsexy не поддерживает оплату наложенным платежом при доставке Почтой России.<p>",
                "<p>Пожалуйста выберите другой способ оплаты или доставки.</p>",
                '<p><button type="button" class="btn btn-success" data-dismiss="modal" aria-hidden="true">Хорошо, мне все ясно.</button></p>'
            ];

            $modal.find(".modal-body").html(messages.join(""));
            $("body").append($modal);
            $modal.modal("show");
            return false;
        }
    }
});


$("#contact").on('keyup',function(){
    var $this = $(this),
            value = $this.val(),
            emailReg = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
            phoneReg = /^\D?(\d{3})\D?\D?(\d{3})\D?(\d{2})\D?(\d{2})/,
            phonePattern = "($1) $2-$3-$4",
            digits = value.replace(/[А-Яа-яA-Za-z$-]/g, ""),
            skypeReg = /[a-zA-Z][a-zA-Z0-9\.,\-_]{5,31}/,
            runSkype = true;

    $("#email,#skype,#phone").val('');
    $('.contact-group').hide();

    if(value.length >= 5){
        if(emailReg.test(value)){
            $("#email").val(value).closest('.form-group').hide().removeClass('hide').show();
            return;
        }else{
            if(digits.length >= 8){
                var phone = '';
                if(digits[0] == 8){
                    phone = '+7 ' + digits.substring(1).replace(phoneReg,phonePattern);
                }else if(digits[0] == '+' && digits[1] == 7){
                    phone = '+7 ' + digits.substring(2).replace(phoneReg,phonePattern);
                }else{
                    phone = '+7 ' + digits.substring(0).replace(phoneReg,phonePattern);
                }

                if(phone.length >= 18){
                    $("#phone").val(phone).closest('.form-group').hide().removeClass('hide').show();
                    return;
                }
            }else{
                if(skypeReg.test(value)){
                    $("#skype").val(value).closest('.form-group').hide().removeClass('hide').show();
                    return;
                }
            }
        }
    }
}).on('blur',function(){
    if($("#phone").is(":hidden")){
        $("#contact").addClass('error');
    }
});

if(localStorage.lastOrder){
    var order = JSON.parse(localStorage.lastOrder);
    $("#contact").val(order.contact);
    $("#fullname").val(order.fullname);
    $("#fulladdress").val(order.fulladdress);
    $("#name").val(order.name.name);
    $("#surname").val(order.name.surname);
    $("#patronymic").val(order.name.patronymic);

    toggleError($('#name'),false);
    toggleError($('#surname'),false);
    toggleError($('#patronymic'),false);

    for(var item in order.address){
        if(item == 'code'){
            $("#postal_code").val(order.address[item]);
            toggleError($('#postal_code'),false);
        }else{
            $("#" + item).val(order.address[item]);
            toggleError($('#' + item),false);
        }
    }

}

if($("#contact").val().length && $("#fullname").val().length && $("#fulladdress").val().length){
    $("#contact").keyup();
    $("#fullname").parent().hide();
    $(".fullname-group").hide().removeClass('hide').show(300);
    $("#fulladdress").parent().hide();
    $(".fulladdress-group").hide().removeClass('hide').show(300);
    $("#comment").focus();
}else{
    $("#contact").focus();
}

</script>