{{{breadcrumbs}}}

<!--Shopping Cart Message-->
<section class="cart-message">
    <i class="fa fa-check-square"></i>
    <p class="p-style3">"{{product.title}}" добавлен в вашу корзину.</p>
    <a class="btn-outlined-invert btn-success btn-sm" href="/cart">В корзину</a>
</section><!--Shopping Cart Message Close-->

<!--Catalog Single Item-->
<section class="catalog-single">
    <div class="container">
        <div class="row">

            <!--Product Gallery-->
            <div class="col-lg-4 col-md-4">
                <div class="prod-gal master-slider" id="prod-gal">
                    <!--Slide1-->
                    <div class="ms-slide">
                        <img src="/masterslider/blank.gif" data-src="http://luxy.sexy{{product.image.path}}" alt="{{product.title}}"/>
                        <img class="ms-thumb" src="http://luxy.sexy{{product.image.path}}" alt="thumb" />
                    </div>

                    {{#each product.images}}
                        <div class="ms-slide">
                            <img src="/masterslider/blank.gif" data-src="http://luxy.sexy{{path}}" alt="{{alt}}"/>
                            <img class="ms-thumb" src="http://luxy.sexy{{path}}" alt="thumb" />
                        </div>
                    {{/each}}
                </div>
            </div>

            <!--Product Description-->
            <div class="col-lg-8 col-md-8">
                {{!
                <h1 style="background: #2f343b;color:white;padding:10px;letter-spacing:-6px;font-size: 100px;font-weight: 300;">LUXY<span style="color:orange;font-weight: 200;">sex<span style="font-size:75px;
font-weight: 200;">Y</span></span></h1>
                <div style="background: #2f343b;padding:10px;"><img src="/img/logo.png" alt=""/></div>
                }}
                <h1>{{product.title}}&nbsp;<br/><small>{{product.shortDesc}}</small></h1>

                <div class="price">{{product.price}} <span class="fa fa-rouble"></span></div>


                {{#if product.size}}
                    <div class="size">
                        <a href="javascript:goToDescr()">Размер {{product.size.current}}</a>
                    </div>
                {{/if}}

                {{#if product.available}}

                    <div class="buttons group">
                        <div class="qnt-count">
                            <a class="incr-btn" href="#">-</a>
                            <input id="quantity" class="form-control" type="text" value="1">
                            <a class="incr-btn" href="#">+</a>
                        </div>

                        <a class="btn btn-primary btn-sm add-cart-btn" data-id="{{product._id}}" data-alias="{{product.alias}}" data-value-selector="#quantity" id="addItemToCart" href="#"><i class="icon-shopping-cart"></i>В корзину</a>
                        <a class="btn btn-success btn-sm one-click" href="#" data-id="{{product._id}}" data-alias="{{product.alias}}" onclick="cart.oneClick(event)"><i class="fa fa-send-o"></i>Купить в 1 клик</a>
                    </div>

                {{else}}
                    <div class="buttons group">
                        <a class="btn btn-primary btn-sm popover-me top hover" data-toggle="modal" data-target="#availableModal" data-content="К сожалению на данный момент товара нет в наличии, но скоро он появится и мы с удовольствием сообщим вам об этом." data-id="{{product._id}}" id="" href="#">
                            <i class="fa fa-flash"></i>Сообщить при появлении
                        </a>
                    </div>
                {{/if}}
                <p class="p-style2">
                    {{{product.miniDesc}}}
                </p>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-5">
                        <h3>Поделиться</h3>
                        <div class="social-links">
                            <a href="http://vk.com/share.php?url=http://luxy.sexy{{product.url}}" target="_blank"><i class="fa fa-vk"></i></a>
                            <a href="http://www.facebook.com/sharer/sharer.php?u=http://luxy.sexy{{product.url}}" target="_blank"><i class="fa fa-facebook-square"></i></a>
                            <a href="http://twitter.com/share?text={{product.title}}&url=http://luxy.sexy{{product.url}}&hashtags=luxysexy" target="_blank"><i class="fa fa-twitter-square"></i></a>
                        </div>
                    </div>

                    {{!
                    <div class="col-lg-8 col-md-8 col-sm-7">
                        <h3>Tags</h3>
                        <div class="tags">
                            <a href="#">Nikon, </a>
                            <a href="#">camera, </a>
                            <a href="#">hd video</a>
                        </div>
                    </div>
                    }}
                </div>
                <div class="promo-labels">
                    <div data-content="{{#if product.freeDelivery}}Доставка <b>{{product.title}}</b> осуществляется бесплатно по всей России.{{else}}Стоимость доставки составит {{product.delivery}} <span class='fa fa-rouble'></span> при заказе на сумму до {{product.freeDeliverySum}} <span class='fa fa-rouble'></span> по всей России.{{/if}}" data-html="true"><span><i class="fa fa-truck"></i>{{#if product.freeDelivery}}Бесплатно{{else}}{{product.delivery}} руб.{{/if}}</span></div>
                    <div data-content="Доставка по всей России в течении одной недели."><i class="fa fa-space-shuttle"></i>По всей России</div>
                    <div data-content="Товар будет проверен нашими специалистами и бережно запакован без опознавательных признаков."><i class="fa fa-shield"></i>Гарантии</div>
                </div>
            </div>
        </div>
    </div>
</section><!--Catalog Single Item Close-->
<style type="text/css">
    .form-control-feedback{
        margin-top:-12px;
    }
</style>
<div class="modal fade" id="availableModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h2><i class="fa fa-flash"></i>&nbsp;&nbsp;Уведомление о появлении товара</h2>
                <p class="large">{{product.title}} <small>{{product.shortDesc}}</small></p>
            </div>
            <div class="modal-body">
                <form class="available-form">
                    <p>Пожалуйста, оставьте контактные данные чтобы мы с вами связались когда товар появится в наличии:</p>
                    <div class="form-group group has-feedback has-success">
                        <label for="available-input"></label>
                        <input type="text" class="form-control" id="available-input" data-product-id="{{product._id}}" name="contact" placeholder="Email, телефон или Skype">
                        <i class="fa fa-times form-control-feedback hide"></i>
                        <i class="fa fa-phone form-control-feedback hide"></i>
                        <i class="fa fa-envelope form-control-feedback hide"></i>
                        <i class="fa fa-skype form-control-feedback hide"></i>
                    </div>
                    <input class="btn btn-success" type="submit" value="Отправить контакт">
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!--Tabs Widget-->
<section class="tabs-widget">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#specs" data-toggle="tab">Характеристики</a></li>
        <li><a href="#descr" data-toggle="tab">Описание</a></li>
        {{!
        <li><a href="#review" data-toggle="tab">Reviews</a></li>
        }}
    </ul>
    <div class="tab-content">
        <!--Tab1 (Tech Specs)-->
        <div class="tab-pane fade in active" id="specs">
            <div class="container">
                <div class="row">
                    <section class="tech-specs">
                        <div class="container">
                            <div class="row">

                                {{#if product.params.items}}
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        {{#each product.params.items}}
                                            <div class="item">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6"><i class="icon-{{this.[2]}}"></i><span>{{this.[0]}}</span></div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6"><p class="p-style2">{{this.[1]}}</p></div>
                                                </div>
                                            </div>
                                        {{/each}}
                                    </div>
                                {{/if}}

                                {{#if product.params.benefits}}
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        {{#each product.params.benefits}}
                                            <div class="item">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12"><i class="icon-flag"></i><span>{{this}}</span></div>
                                                </div>
                                            </div>
                                        {{/each}}
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <!--Tab2 (Description)-->
        <div class="tab-pane fade" id="descr">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-sm-5">
                        <img class="center-block" src="http://luxy.sexy{{product.image.path}}" alt="{{product.title}} {{product.shortDesc}}"/>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-7">
                        <p class="p-style2">{{{product.desc}}}</p>
                        <div class="row">
                            {{#if product.params.benefits}}
                                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-6">
                                    <h4>Основные преимущества</h4>
                                    <ul>
                                        {{#each product.params.benefits}}
                                            <li>{{this}}</li>
                                        {{/each}}
                                        {{#if product.size}}{{^if product.size.sizes}}
                                            <li>Универсальный размер</li>
                                        {{/if}}{{/if}}
                                    </ul>
                                </div>
                            {{/if}}

                            {{#if product.size.sizes}}
                                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-6">
                                    <h4>Другие размеры</h4>
                                    <ul>
                                        {{#each product.size.sizes}}
                                            <li><a href="{{link}}">размер {{size}}</a></li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--Tabs Widget Close-->
